<div>
    <form nz-form [formGroup]="cForm">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="26" nzRequired nzFor="countryName">Country</nz-form-label>
        <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="Input is required !">
            <nz-select formControlName="countryName" [(ngModel)]="selectedCountryName" (ngModelChange)="onRowClick()">
              <nz-option *ngFor="let country of countries" nzLabel="{{country.countryName}}" nzValue="{{country.countryId}}"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="26" nzRequired nzFor="regionName">Region</nz-form-label>
        <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="Input is required !">
          <nz-select formControlName="regionName" [(ngModel)]="selectedRegionName">
            <nz-option *ngFor="let region of regions" nzLabel="{{region.regionName}}" nzValue="{{region.regionId}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="name">Location</nz-form-label>
        <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="Input is required !">
          <input nz-input formControlName="name"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="!cForm.valid" (click)="onOk()"
            [nzLoading]="isLoading">OK
    </button>
  </div>
  
  