.ant-form-item {
  margin-bottom: 8px !important;
}

::ng-deep.upload-preview {
  height: 70px !important;
}

//::ng-deep.ant-modal {
//  top: 20px !important;
//}

::ng-deep.ant-select-selection--single {
  margin-top: 4px;
}
