<div class="search-box">
  <h2>Regions</h2>
    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
    <button nz-button nzType="primary" (click)="searchByKeyword(searchValue)">
      Search
    </button>
    <button nz-button (click)="reset()">Reset</button>
  </div>
  
  <!-- <div class="search-box">
    <nz-form-label [nzSm]="7" [nzXs]="26" nzFor="countryName">Choose Country</nz-form-label>
    <nz-select [(ngModel)]="searchCountry" style="width: 30%;">
      <nz-option *ngFor="let country of countries" nzLabel="{{country.countryName}}" nzValue="{{country.countryName}}"></nz-option>
    </nz-select> 
    <button nz-button nzType="primary" (click)="searchByCountry(searchCountry)">
      Search
    </button>
    
  </div> -->

  <button nz-button class="btn-add" nzType="primary" (click)="add()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Add
  </button>
  
  <nz-skeleton [nzActive]="true" *ngIf="!list" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
  <nz-table *ngIf="list" #nzTable [nzData]="list" [nzShowSizeChanger]="false" nzSize="small" [nzBordered]="true">
    <thead (nzSortOrderChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="sort">Sort</th>
      <th nzShowSort nzSortKey="regionName">Region</th>
      <th>Country</th>
      <th>Created On</th>
      <th>Updated On</th>
      <th>Enable</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let region of regions; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{region.regionName}}</td>
        <td>{{region.country.countryName}}</td>
        <td>{{region.createdAt}}</td>
        <td>{{region.updatedAt}}</td>
        <td><label nz-checkbox></label></td>
        <td>
          <a (click)="editRow(region)">
            <i nz-icon nzType="edit" nzTheme="twotone"></i>
          Edit</a> |
          <a (click)="deleteRow(region)">
            <i nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#eb2f96'"></i>
          Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  