<div nz-row>
  <nz-descriptions nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }">
    <nz-descriptions-item nzTitle="Avatar">
      <nz-avatar nzIcon="user"></nz-avatar>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="User Name">{{user?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email">{{user?.email}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Phone">{{user?.phoneNo}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Sex">Male</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Age">21</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Weight">80Kg</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Balance">{{user?.balance}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="SignUpDate">{{user?.registerDate}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="LastDate">{{user?.lastDate}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address">
      956 Larry Street San Francisco
    </nz-descriptions-item>
  </nz-descriptions>
</div>
