<nz-spin [nzSpinning]="isLoading">
  <div>
    <form nz-form [formGroup]="oForm">
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="minWeight">MinWeight</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Required">
          <nz-input-number formControlName="minWeight" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>

        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="maxWeight">MaxWeight</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Required">
          <nz-input-number formControlName="maxWeight" [nzMin]="1" [nzStep]="3"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="sort">Sort</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Required">
          <nz-input-number formControlName="sort" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </nz-form-control>

        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="cost">Cost</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Required">
          <nz-input-number formControlName="cost" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="isEnable">Enable</nz-form-label>
        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Required">
          <label nz-checkbox formControlName="isEnable"></label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="!oForm.valid" (click)="onOk()">Ok</button>
  </div>
</nz-spin>
