<div class="search-box">
  <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
  <button nz-button nzType="primary" (click)="search()" class="search-button">
    Search
  </button>
  <button nz-button (click)="reset()">Reset</button>
</div>

<button nz-button class="btn-add" nzType="primary">
  <i nz-icon nzType="file-add" nzTheme="outline"></i>Add
</button>

<!--[nzLoading]="true"-->
<nz-table #nzTable [nzData]="listOfDisplayData" [nzShowSizeChanger]="false" [nzBordered]="true">
  <thead (nzSortOrderChange)="sort($event)" nzSingleSort>
  <tr>
    <th nzShowSort nzSortKey="name">
      Name
    </th>
    <th nzShowSort nzSortKey="age">Age</th>
    <th nzShowSort nzSortKey="address">Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
    <td>
      <a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">
        <i nz-icon nzType="edit" nzTheme="twotone"></i>
        Edit</a> |
      <a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">
        <i nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#eb2f96'"></i>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
