
<br>
<i nz-icon nzType="environment" style="font-size: 30px;" nzTheme="outline"></i>
{{locationId}}
<br>
<br>
<nz-card nzTitle="Clients">
  <div>
    <div *ngFor="let item of clients;index as i;">
      <div *ngIf="i%3==0" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <nz-card style="width:100%;cursor:pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{clients[i].clientName}}" [nzExtra]="extraTemplate" (click)="getdepartments(clients[i].clientId)">
            <p></p>
            <p>{{clients[i].clientId}}</p>
            <p>Card content</p>
          </nz-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngIf="i + 1 < clients.length">
          <nz-card style="width:100%;cursor: pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{clients[i+1].clientName}}" [nzExtra]="extraTemplate" (click)="getdepartments(clients[i+1].clientId)">
            <p></p>
            <p>{{clients[i+1].clientId}}</p>
            <p>Card content</p>
          </nz-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngIf="i + 2 < clients.length">
          <nz-card style="width:100%; cursor:pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{clients[i+2].clientName}}" [nzExtra]="extraTemplate" (click)="getdepartments(clients[i+2].clientId)">
            <p></p>
            <p>{{clients[i+2].clientId}}</p>
            <p>Card content</p>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</nz-card>


<br>

<nz-card nzTitle="Departments" *ngIf="departmentstatus">
  <div>
    <h4 *ngIf="department.length==0" style="text-align:center;">No Departments Found</h4>
    <div *ngFor="let item of department;index as i;">
      <div *ngIf="i%3==0" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <nz-card style="width:100%;cursor:pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{department[i].departmentName}}" [nzExtra]="extraTemplate" (click)="getscreens(department[i].departmentId)">
            <p></p>
            <p>{{department[i].departmentId}}</p>
            <p>{{department[i].departmentName}}</p>
          </nz-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngIf="i + 1 < department.length">
          <nz-card style="width:100%;cursor: pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{department[i+1].departmentName}}" [nzExtra]="extraTemplate" (click)="getscreens(department[i+1].departmentId)">
            <p></p>
            <p>{{department[i+1].departmentId}}</p>
            <p>{{department[i+1].departmentName}}</p>
          </nz-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngIf="i + 2 < department.length">
          <nz-card style="width:100%; cursor:pointer;" [ngStyle]="gridStyle" nzType="inner" nzTitle="{{department[i+2].departmentName}}" [nzExtra]="extraTemplate" (click)="getscreens(department[i+2].departmentId)">
            <p></p>
            <p>{{department[i+2].departmentId}}</p>
            <p>{{department[i+2].departmentName}}</p>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</nz-card>


<br>

<nz-card nzTitle="Screens" *ngIf="screenstatus">
  <h4 *ngIf="screensSize==0" style="text-align:center;">No Screens Found</h4>
  <div>
    <div class="row">
      <ng-container *ngFor="let screen of screens;"> 
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons"></i>
              </div>
              <h4 class="card-title" style="text-align: left;"><b>{{screen.screenName}}</b></h4>
            </div>
            <div class="card-body ">
                <mat-grid-list class="card" cols="{{screen.columnCount}}" rowHeight="60px" >
                  <mat-grid-tile *ngFor="let panel of screen.panels;" [ngStyle]="{'background-color': getColor(panel)}">
                      <p (click)="editRow(panel)">P-{{panel.index.toString()}}</p>
                  </mat-grid-tile>
                </mat-grid-list>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</nz-card>

